services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: project-db
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourPassword@123"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - sql-data:/var/opt/mssql 
    networks:
      - project-network
    healthcheck: 
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "YourPassword@123" -C -Q "SELECT 1" -b || exit 1
      interval: 10s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: project-api
    ports:
      - "8080:80"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: "Server=db,1433;Database=Chinese_sale;User Id=sa;Password=YourPassword@123;TrustServerCertificate=True;"
    depends_on:
      db:
        condition: service_healthy 
    networks:
      - project-network

networks:
  project-network:
    driver: bridge

volumes:
  sql-data: